beautifulsoup4==4.13.4
bs4==0.0.2
build==1.2.2.post1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cryptography==45.0.2
dbus-python==1.4.0
EbookLib==0.19
idna==3.10
libretranslatepy==2.1.1
lxml==5.4.0
mido==1.3.3
mutagen==1.47.0
ntplib==0.4.0
oauthlib==3.2.2
packaging==25.0
pbkdf2==1.3
py-machineid==0.7.0
pycparser==2.22
pyproject_hooks==1.1.0
pyrtitions==0.2.3
pyserial==3.5
python-vlc==3.0.21203
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
RPi.GPIO==0.7.1
sdbus==0.14.0
sdbus-networkmanager==2.0.0
six==1.17.0
soupsieve==2.7
striprtf==0.0.29
translate==3.6.1
typing_extensions==4.13.2
Unidecode==1.4.0
urllib3==2.4.0
wikipedia==1.4.0
xlrd3==1.1.0
