beautifulsoup4
bs4
build
certifi
cffi
charset-normalizer
click==8.1.8
cryptography
dbus-python
EbookLib
idna
libretranslatepy==2.1.1
lxml
mido
mutagen
ntplib==0.4.0
oauthlib
packaging
pbkdf2
py-machineid
pycparser
pyproject_hooks==1.1.0
pyrtitions
pyserial
python-vlc
pytz==2024.2
requests
requests-oauthlib
RPi.GPIO
sdbus
sdbus-networkmanager
six
soupsieve
striprtf
translate==3.6.1
Unidecode
urllib3
wikipedia
xlrd3
